* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background: rgb(236, 236, 236);
  color: rgb(49, 49, 49);
}

.bg {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../img/bg.png');
  background-size: cover;
  background-position: center;

}

.bg2 {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../img/bg2.png');
  background-size: cover;

}

.bg3 {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../img/bg3.jpg');
  background-size: cover;

}

.red-line:hover {
  background: rgb(245, 106, 106) !important;
  border-color: rgb(245, 106, 106) !important;
}

.blueline:hover {
  background: rgb(106, 113, 245) !important;
  border-color: rgb(106, 113, 245) !important;
}

.greenline:hover {
  background: rgb(106, 245, 178) !important;
  border-color: rgb(106, 245, 178) !important;
}

.purpleline:hover {
  background: rgb(245, 106, 238) !important;
  border-color: rgb(245, 106, 238) !important;
}

.yellowline:hover {
  background: rgb(223, 203, 49) !important;
  border-color: rgb(245, 229, 106) !important;
}

.navbar {
  height: 60px;
  position: absolute;
  left: 100px;
  right: 100px;
  top: 30px;
  display: flex;
  z-index: 9;
}

.nav-brand {
  flex: 1;
  display: block;
  text-align: center;
  line-height: 60px;

}

.nav-brand a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.4em;
}

.nav-list {
  flex: 1;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 1em;
}

.nav-list a:hover {
  text-decoration: underline;
}

.header-tulisan {
  padding-top: 30px;
  z-index: 9;
  /* background: #000; */
  flex: 1;
  padding: 200px;
  align-items: center;
  
}

.header-tulisan h1 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 2.5em;

}

.header-tulisan h2 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;

}

.button {
  text-decoration: none;
  border: solid #fff 1px;
  line-height: 100px;
  padding: 15px 35px;
  font-family: 'Poppins';
  font-weight: 400;
  color: #fff;
  transition: .5s all;
}

.button:hover {
  background: rgb(170, 80, 255);
  border-color: rgb(170, 80, 255);
  transition: .5s all;
}

.container {
  margin: auto;
  /* background: rgb(238, 238, 238); */
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.search form {
  padding: 60px;
}

.search form input {
  width: 200px;
  margin: 10px;
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 3px;
  border: none;
  background: rgb(209, 197, 223);
  outline: none;
  color: rgb(54, 54, 54);
  font-family: 'Segoe UI';
  font-weight: 400;
}

.search form input[type="submit"] {
  width: 200px;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  border: rgb(100, 80, 132) solid 1px;

  background: none;
  color: rgb(100, 80, 132);
  cursor: pointer;
  transition: .3s all;
}

.search form input[type="submit"]:hover {
  border: rgb(100, 80, 132) solid 2px;
  color: #fff;
  background: rgb(100, 80, 132);
  transition: .3s all;
  ;
}

.popular {
  height: 500px;
  background: rgb(209, 197, 223);
  padding-top: 50px;
}

.popular h2 {
  text-align: center;
  font-size: 38px;
  font-family: 'Arial';
  font-weight: 600;
  margin-bottom: 25px;
}

.thebooks {
  width: 80%;
  margin: auto;
  background: rgb(195, 169, 224);
}

.underline {
  text-decoration: underline;
  color: #000;
}
.nav-list .cart
{
  width: 100px;
  background: #000;
}